fastapi
uvicorn[standard]
python-dotenv
python-multipart
psycopg2-binary
httpx
pandas
numpy
lightgbm
scikit-learn
python-multipart
Faker==19.3.0    # 더미 데이터 생성

# conda create -n  final_backend python==3.11
# conda activate final_backend
# pip install -r requirements.txt
